In [ ]:
# # Mount
# from google.colab import drive
# drive.mount('/content/gdrive')a

In [ ]:
# Import Library
import numpy as np
import pandas as pd
import datetime as dt

# 전주 동요일 매출과 차이 큰 상위 동

In [ ]:
gu = pd.read_excel('./gdrive/My Drive/빅콘 대상팀/data/지역데이터/구_동.xlsx')
gs = pd.read_csv('./gdrive/My Drive/빅콘 대상팀/data/all_amt.csv',parse_dates=['STD_YMD'])

gs = pd.concat([gs.iloc[:,[0,1]],gs.filter(like='GS')],axis=1)
gs = pd.merge(gs,gu,on='HDONG_NM')
gs['CITY'] = gs['HDONG_GU'].apply(lambda x: x[0:2])
gs_seoul = gs.query('CITY == "서울" & STD_YMD > "2020" & HDONG_NM != "상계8동" ' )
gs_seoul= gs_seoul.drop(['HDONG_GU','CITY'],axis=1)

gs_d = pd.DataFrame({'HDONG_NM': gs_seoul.HDONG_NM.unique(),'eat_d':0,'snack_d':0,'drink_d':0})
gs_d = gs_d.set_index('HDONG_NM')

gs_eat = gs_seoul.iloc[:,[0,1,3]].sort_values(['HDONG_NM','STD_YMD'])
gs_snack = gs_seoul.iloc[:,[0,1,4]].sort_values(['HDONG_NM','STD_YMD'])
gs_drink = gs_seoul.iloc[:,[0,1,5]].sort_values(['HDONG_NM','STD_YMD'])

In [ ]:
deli = pd.read_csv('./gdrive/My Drive/빅콘 대상팀/data/result/배달 원래 값 성장률_2.csv',parse_dates=['일자'])
deli = deli.rename(columns={'일자':'STD_DD'})

## 전주 동요일 매출액 차이 합계

In [ ]:
def gs_diff(data,cat_d,gs_d):
  data['week'] = data.STD_YMD.dt.week
  data['day'] = data.STD_YMD.dt.weekday
  for dong in gs_d.index:
    gs_d.loc[dong][cat_d] = abs(data.loc[data['HDONG_NM']==dong].loc[data['week']== 6].drop(['STD_YMD','HDONG_NM','week'],axis=1).set_index(['day']).loc[5:6] - data.loc[data['HDONG_NM']==dong].loc[data['week']== 5].drop(['STD_YMD','HDONG_NM','week'],axis=1).set_index(['day'])).sum()
    for week_num in range(7,22):
      gs_d.loc[dong][cat_d] = gs_d.loc[dong][cat_d]+abs(data.loc[data['HDONG_NM']==dong].loc[data['week']== week_num].drop(['STD_YMD','HDONG_NM','week'],axis=1).set_index(['day'])  - data.loc[data['HDONG_NM']==dong].loc[data['week']== week_num-1].drop(['STD_YMD','HDONG_NM','week'],axis=1).set_index(['day']) ).sum()

In [ ]:
gs_diff(gs_eat, 'eat_d',gs_d)
gs_diff(gs_snack, 'snack_d',gs_d)
gs_diff(gs_drink, 'drink_d',gs_d)

## 마실거리 매출액 차이

In [ ]:
gs_d.sort_values(by='drink_d',ascending=False).head(5)

          eat_d  snack_d  drink_d
HDONG_NM
명동          373      470      720
소공동         435      617      679
중계2.3동      434      495      637
중계본동        410      563      611
하계2동        432      604      540

In [ ]:
gs_d.sort_values(by='drink_d',ascending=True).head(6)

          eat_d  snack_d  drink_d
HDONG_NM
공릉1동        174      212      207
장충동         223      155      222
월계1동        159      190      229
공릉2동        167      241      266
상계5동        220      216      290
황학동         284      346      304

## 식사 매출액 차이

In [ ]:
gs_d.sort_values(by='eat_d',ascending=False).head(5)

          eat_d  snack_d  drink_d
HDONG_NM
신당동         501      388      502
소공동         435      617      679
중계2.3동      434      495      637
하계2동        432      604      540
중계4동        429      544      511

In [ ]:
gs_d.sort_values(by='eat_d',ascending=True).head(6)

          eat_d  snack_d  drink_d
HDONG_NM
월계1동        159      190      229
공릉2동        167      241      266
공릉1동        174      212      207
월계3동        206      399      394
상계6.7동      216      331      445
상계1동        219      281      340

## 간식 매출액 차이

In [ ]:
gs_d.sort_values(by='snack_d',ascending=False).head(5)

          eat_d  snack_d  drink_d
HDONG_NM
소공동         435      617      679
하계2동        432      604      540
중계본동        410      563      611
중계4동        429      544      511
약수동         331      542      442

In [ ]:
gs_d.sort_values(by='snack_d',ascending=True).head(6)

          eat_d  snack_d  drink_d
HDONG_NM
장충동         223      155      222
월계1동        159      190      229
공릉1동        174      212      207
상계5동        220      216      290
공릉2동        167      241      266
월계2동        235      246      359

# PoC 데이터 생성

## 실제 배달 데이터(2020-05-18 ~ 2020-05-31)

In [ ]:
deli.query( " '2020-05-18'<= STD_DD <= '2020-05-24' ").set_index('STD_DD',drop=True).drop('상계8동',axis=1)

                 공릉1동       공릉2동  광희동  ...        하계2동    황학동        회현동
STD_DD                                 ...
2020-05-18   4.131054   4.131054  NaN  ...  100.000000 -100.0  -4.719574
2020-05-19 -40.492476 -40.492476  NaN  ...    0.000000    NaN  -5.432358
2020-05-20  -6.896552  -6.896552  NaN  ...  -50.000000    NaN  -6.385274
2020-05-21  10.370370  10.370370  NaN  ...    0.000000    NaN   3.516969
2020-05-22  -5.145414  -5.145414  NaN  ...  200.000000    NaN   4.956386
2020-05-23  40.094340  40.094340  NaN  ...   16.666667    NaN   9.444431
2020-05-24  21.885522  21.885522  NaN  ...  -42.857143    NaN  10.310607

[7 rows x 33 columns]

In [ ]:
deli.query( " '2020-05-25'<= STD_DD <= '2020-05-31' ").set_index('STD_DD',drop=True).drop('상계8동',axis=1)

                 공릉1동       공릉2동  광희동        다산동  ...  하계1동  하계2동  황학동        회현동
STD_DD                                            ...
2020-05-25  -1.933702  -1.933702  NaN -10.134003  ...   0.0   0.0  NaN  -5.597858
2020-05-26 -32.957746 -32.957746  NaN -26.467847  ...  25.0  25.0  NaN  -4.955511
2020-05-27  -9.453782  -9.453782  NaN  -2.281369  ...   0.0   0.0  NaN -18.757842
2020-05-28 -12.529002 -12.529002  NaN   6.485084  ...  60.0  60.0  NaN  23.484517
2020-05-29  18.302387  18.302387  NaN   4.141291  ... -37.5 -37.5  NaN -12.119836
2020-05-30  27.354260  27.354260  NaN  17.309942  ...  60.0  60.0  NaN   9.049487
2020-05-31  25.528169  25.528169  NaN  22.183450  ... -62.5 -62.5  inf  10.351156

[7 rows x 33 columns]

## 예측 배달 데이터(2020-05-25 ~ 2020-05-31)

In [ ]:
y_deli = pd.read_csv('./gdrive/My Drive/빅콘 대상팀/data/result/배달 모든 동 0525_0530예측값.csv')
y_deli.columns=['STD_DD','2020-05-25','2020-05-26','2020-05-27','2020-05-28','2020-05-29','2020-05-30','2020-05-31']
y_deli = y_deli.set_index('STD_DD',drop=True).T.drop('상계8동',axis=1)
y_deli

STD_DD           공릉1동       공릉2동       광희동  ...       하계2동       황학동        회현동
2020-05-25  339.65300  364.12878 -0.181945  ...   9.967044  0.712838  429.80830
2020-05-26  248.49701  255.30893  0.050350  ...  10.448910  0.600871  428.70270
2020-05-27  181.86609  189.20952  0.075241  ...  11.604662  0.510107  425.54987
2020-05-28  190.51710  202.97263 -0.165972  ...  11.980720  0.595680  420.95880
2020-05-29  225.89085  244.53150  0.299524  ...  14.534624  0.529768  424.62445
2020-05-30  287.67688  314.14883  0.497842  ...  12.140368  0.528984  428.30148
2020-05-31  332.03088  361.92430 -0.274494  ...  12.762261  0.650251  433.12515

[7 rows x 33 columns]

In [ ]:
y_drink = pd.read_csv('./gdrive/My Drive/빅콘 대상팀/data/result/GRU 모든동 마실거리 0525_0531예측값.csv')
y_drink.columns = ['HDONG_NM','2020-05-25',	'2020-05-26',	'2020-05-27','2020-05-28',	'2020-05-29','2020-05-30','2020-05-31']
y_drink = y_drink.set_index('HDONG_NM',drop=True)

y_eat = pd.read_csv('./gdrive/My Drive/빅콘 대상팀/data/result/GRU 모든동 식사 0525_0531예측값.csv')
y_eat.columns = ['HDONG_NM','2020-05-25',	'2020-05-26',	'2020-05-27','2020-05-28',	'2020-05-29','2020-05-30','2020-05-31']
y_eat = y_eat.set_index('HDONG_NM',drop=True)

y_snack = pd.read_csv('./gdrive/My Drive/빅콘 대상팀/data/result/GRU 모든동 간식 0525_0531예측값.csv')
y_snack.columns = ['HDONG_NM','2020-05-25',	'2020-05-26',	'2020-05-27','2020-05-28',	'2020-05-29','2020-05-30','2020-05-31']
y_snack = y_snack.set_index('HDONG_NM',drop=True)

## 카테고리별 PoC 데이터

###마실거리 ALL

In [ ]:
# 실제 마실거리 데이터
real_drink = gs_drink.query(" '2020-05-25' <= STD_YMD <= '2020-05-31' ").set_index(['HDONG_NM','STD_YMD']).unstack().iloc[:,:7]
real_drink

            GS_마실거리                        ...
STD_YMD  2020-05-25 2020-05-26 2020-05-27  ... 2020-05-29 2020-05-30 2020-05-31
HDONG_NM                                   ...
공릉1동         26.862     29.440     30.968  ...     32.882     36.456     29.378
공릉2동         27.666     30.171     33.909  ...     35.720     42.525     34.500
광희동          33.440     34.532     36.340  ...     43.263     34.356     24.978
다산동          39.585     39.092     42.952  ...     47.601     41.685     33.998
동화동          30.330     28.269     36.270  ...     35.937     32.453     25.024
명동           53.875     54.944     60.324  ...     61.272     33.120     22.083
상계10동        30.258     30.448     36.801  ...     42.744     46.763     34.776
상계1동         30.515     30.996     34.974  ...     41.830     44.496     42.042
상계2동         48.094     47.736     51.992  ...     61.759     66.882     54.426
상계3.4동       37.125     38.280     40.567  ...     40.424     48.875     43.848
상계5동         30.082     31.850     34.464  ...     36.284     40.456     37.905
상계6.7동       43.618     44.030     45.864  ...     58.201     58.254     47.744
상계9동         38.950     34.047     35.739  ...     46.690     52.884     35.670
소공동          54.796     55.944     64.350  ...     64.070     33.970     25.500
신당5동         32.130     32.860     33.800  ...     38.325     48.314     38.390
신당동          71.410     71.000     74.112  ...     83.514     58.984     44.574
약수동          43.146     39.564     46.440  ...     51.900     58.926     49.491
월계1동         30.240     31.390     33.000  ...     35.712     37.810     32.190
월계2동         34.500     30.616     36.566  ...     42.336     42.800     40.112
월계3동         41.600     43.368     46.842  ...     49.839     55.144     47.880
을지로동         38.352     40.208     42.876  ...     48.076     53.958     35.174
장충동          25.560     24.548     25.560  ...     28.236     26.566     23.424
중계1동         37.440     36.177     42.984  ...     47.790     54.046     49.959
중계2.3동       55.955     57.638     65.010  ...     70.104     68.392     57.130
중계4동         41.612     33.966     45.448  ...     49.764     51.012     46.138
중계본동         45.632     45.339     51.221  ...     53.580     64.561     56.400
중림동          31.815     34.736     38.640  ...     40.368     56.356     55.040
청구동          47.256     43.554     48.117  ...     58.812     61.073     50.596
필동           47.214     47.498     46.585  ...     47.988     31.955     26.270
하계1동         40.553     39.590     45.696  ...     55.151     57.921     38.376
하계2동         47.376     50.876     53.464  ...     59.248     64.260     57.768
황학동          39.349     37.185     39.936  ...     45.356     46.500     41.471
회현동          47.760     47.750     49.724  ...     49.815     34.049     31.570

[33 rows x 7 columns]

In [ ]:
# 마실거리 전주 동요일
before_drink = gs_drink.query(" '2020-05-18' <= STD_YMD <= '2020-05-24' ").set_index(['HDONG_NM','STD_YMD']).unstack().iloc[:,:7]
before_drink

            GS_마실거리                        ...
STD_YMD  2020-05-18 2020-05-19 2020-05-20  ... 2020-05-22 2020-05-23 2020-05-24
HDONG_NM                                   ...
공릉1동         25.370     26.280     26.270  ...     30.586     32.238     26.352
공릉2동         25.665     26.158     30.082  ...     33.759     39.402     32.301
광희동          27.720     32.040     36.218  ...     36.828     29.970     23.625
다산동          37.454     38.304     41.776  ...     42.074     47.875     29.610
동화동          30.240     25.718     29.232  ...     33.948     33.525     20.034
명동           49.484     46.886     56.030  ...     56.388     29.520     17.732
상계10동        26.660     26.649     28.801  ...     35.288     37.920     33.784
상계1동         28.638     28.896     31.304  ...     34.848     43.472     32.663
상계2동         44.114     41.895     46.900  ...     54.020     59.130     48.498
상계3.4동       35.970     33.048     37.932  ...     35.392     47.371     38.142
상계5동         29.610     29.610     30.970  ...     33.028     35.136     31.304
상계6.7동       38.690     37.878     44.132  ...     47.988     48.768     43.419
상계9동         33.100     28.574     39.162  ...     40.400     44.576     34.580
소공동          50.995     52.848     61.204  ...     58.460     32.964     21.594
신당5동         29.532     26.350     33.027  ...     39.055     38.046     38.690
신당동          75.719     63.984     69.751  ...     78.596     61.050     38.880
약수동          40.052     40.016     42.976  ...     46.009     48.692     45.825
월계1동         26.394     27.540     30.750  ...     32.178     36.000     29.412
월계2동         28.644     26.316     31.155  ...     35.040     36.358     36.080
월계3동         36.005     32.618     41.472  ...     46.860     48.555     44.067
을지로동         31.208     33.746     37.733  ...     42.074     46.238     24.430
장충동          24.450     19.389     28.638  ...     24.992     27.886     23.010
중계1동         28.600     31.390     36.562  ...     36.900     48.372     38.010
중계2.3동       53.404     49.010     58.830  ...     62.799     65.394     52.244
중계4동         29.670     34.596     40.976  ...     36.406     49.750     34.823
중계본동         39.100     38.532     47.250  ...     47.614     66.612     60.140
중림동          31.512     30.576     33.920  ...     37.950     54.665     49.120
청구동          41.920     44.516     48.544  ...     51.520     56.840     41.658
필동           40.194     39.424     44.460  ...     47.336     32.841     22.644
하계1동         33.900     27.348     44.196  ...     45.539     47.328     38.480
하계2동         47.872     41.676     52.140  ...     50.985     62.075     47.716
황학동          33.744     36.720     39.420  ...     39.050     46.053     36.406
회현동          44.540     42.237     44.045  ...     42.896     33.210     23.919

[33 rows x 7 columns]

In [ ]:
# 마실거리 예측
y_drink

          2020-05-25  2020-05-26  ...  2020-05-30  2020-05-31
HDONG_NM                          ...
공릉1동       26.048384   28.363146  ...   35.236633   30.921146
공릉2동       28.214200   29.560230  ...   40.572342   35.872180
광희동        31.737013   34.034912  ...   33.941986   23.865946
다산동        39.370148   41.099770  ...   43.109560   32.825140
동화동        31.155848   28.557545  ...   35.068115   26.067627
명동         51.296700   57.595505  ...   34.170517   21.836155
상계10동      32.292805   28.879120  ...   45.775566   38.814200
상계1동       29.966858   31.691982  ...   44.981834   39.233020
상계2동       48.715280   51.353096  ...   64.202354   55.916573
상계3.4동     37.239510   36.813360  ...   47.696167   41.772247
상계5동       30.731390   32.930910  ...   38.374607   35.468030
상계6.7동     42.626884   47.257720  ...   53.266968   46.326344
상계9동       35.121810   36.687332  ...   45.642350   39.044754
소공동        54.804680   57.905346  ...   33.846443   20.554441
신당5동       33.836660   36.058310  ...   44.951270   38.988434
신당동        70.398170   71.251160  ...   60.886826   44.685406
약수동        42.364014   41.015434  ...   53.449240   51.213722
월계1동       29.315083   31.899479  ...   36.553000   33.043343
월계2동       32.562927   31.880947  ...   40.219330   40.475230
월계3동       42.179620   43.476482  ...   53.190563   46.410942
을지로동       38.732887   40.868317  ...   44.734062   44.295870
장충동        25.489029   26.023077  ...   26.298744   23.461224
중계1동       35.054832   41.110085  ...   47.988640   45.033863
중계2.3동     55.334120   60.134666  ...   71.518135   57.615883
중계4동       35.001760   38.093850  ...   51.121742   43.876724
중계본동       46.087960   46.164307  ...   64.771400   58.375780
중림동        34.059067   33.457480  ...   53.296577   49.911552
청구동        47.801716   50.585197  ...   58.207450   52.976223
필동         44.983994   47.054020  ...   35.673640   24.116245
하계1동       41.257805   38.678320  ...   51.875298   46.127610
하계2동       49.367653   49.534115  ...   64.376780   57.275375
황학동        37.675600   41.092750  ...   45.945540   40.530586
회현동        45.697857   47.221890  ...   34.911877   31.122246

[33 rows x 7 columns]

###식사 ALL

In [ ]:
# 실제 식사 데이터
gs_eat.query(" '2020-05-25' <= STD_YMD <= '2020-05-31' ").set_index(['HDONG_NM','STD_YMD']).unstack().iloc[:,:7]

              GS_식사                        ...
STD_YMD  2020-05-25 2020-05-26 2020-05-27  ... 2020-05-29 2020-05-30 2020-05-31
HDONG_NM                                   ...
공릉1동         24.790     25.360     26.228  ...     24.190     22.092     21.756
공릉2동         29.058     27.501     27.768  ...     26.695     28.875     27.692
광희동          27.016     29.779     27.784  ...     28.215     20.580     20.700
다산동          31.605     32.132     33.984  ...     34.071     27.300     21.449
동화동          29.700     28.836     27.714  ...     32.571     23.157     14.912
명동           34.250     33.048     33.528  ...     34.086     15.480     12.801
상계10동        30.504     27.632     26.535  ...     28.808     27.472     23.772
상계1동         25.245     24.272     25.056  ...     23.124     23.793     25.480
상계2동         45.175     42.296     41.674  ...     41.072     38.151     39.762
상계3.4동       49.125     48.952     42.714  ...     45.136     35.625     45.108
상계5동         32.129     34.580     35.136  ...     31.302     35.152     30.495
상계6.7동       32.431     32.844     32.877  ...     36.894     32.266     34.304
상계9동         26.315     28.421     27.324  ...     32.430     26.910     23.142
소공동          39.900     36.704     39.750  ...     35.760     18.170     22.100
신당5동         25.650     27.348     23.900  ...     26.145     25.109     23.760
신당동          53.650     68.000     54.720  ...     46.500     39.274     57.132
약수동          41.595     40.446     38.340  ...     42.900     37.674     37.365
월계1동         28.980     31.648     29.128  ...     31.104     27.455     24.969
월계2동         31.280     31.506     32.618  ...     35.532     30.174     35.970
월계3동         32.032     29.744     28.305  ...     27.972     27.572     29.640
을지로동         22.842     29.232     27.756  ...     28.203     32.430     21.414
장충동          25.134     23.664     24.336  ...     25.350     23.606     18.688
중계1동         27.648     26.040     33.264  ...     36.698     29.646     30.069
중계2.3동       52.700     56.511     52.305  ...     55.752     44.654     41.035
중계4동         32.857     38.046     29.536  ...     33.524     31.005     33.158
중계본동         42.284     39.497     39.562  ...     39.762     43.953     40.185
중림동          37.269     37.544     35.910  ...     37.700     40.588     50.240
청구동          44.484     33.677     40.893  ...     43.836     33.598     38.364
필동           42.312     38.227     38.841  ...     39.345     24.319     21.513
하계1동         33.170     32.635     31.584  ...     32.488     29.412     30.056
하계2동         41.736     55.300     53.953  ...     46.690     45.900     53.592
황학동          33.572     35.631     32.136  ...     33.292     31.992     29.945
회현동          33.360     36.000     34.348  ...     32.964     21.330     24.409

[33 rows x 7 columns]

In [ ]:
# 식사 전주 동요일
gs_eat.query(" '2020-05-18' <= STD_YMD <= '2020-05-24' ").set_index(['HDONG_NM','STD_YMD']).unstack().iloc[:,:7]

              GS_식사                        ...
STD_YMD  2020-05-18 2020-05-19 2020-05-20  ... 2020-05-22 2020-05-23 2020-05-24
HDONG_NM                                   ...
공릉1동         25.370     23.433     24.790  ...     25.502     21.060     20.592
공릉2동         28.710     26.732     29.281  ...     28.644     26.235     29.100
광희동          27.810     30.150     29.120  ...     25.389     19.610     20.160
다산동          33.672     34.160     34.720  ...     29.430     31.375     27.730
동화동          23.760     23.870     30.996  ...     28.336     15.975     17.766
명동           33.360     33.677     34.580  ...     30.861     16.488     12.716
상계10동        28.036     28.269     27.639  ...     28.864     26.112     22.960
상계1동         27.434     26.460     27.606  ...     29.280     25.376     23.407
상계2동         36.853     46.550     44.086  ...     42.772     37.084     37.127
상계3.4동       43.230     43.632     49.764  ...     39.424     42.037     39.429
상계5동         34.110     35.820     34.485  ...     31.648     26.976     27.520
상계6.7동       27.030     29.746     33.748  ...     34.185     30.480     33.702
상계9동         29.200     32.942     30.281  ...     30.199     25.872     25.745
소공동          35.960     42.480     37.323  ...     39.664     19.926     20.008
신당5동         25.852     27.455     31.174  ...     27.713     19.278     26.606
신당동          65.772     58.032     59.840  ...     56.056     36.450     30.672
약수동          38.068     36.844     42.296  ...     38.364     38.480     40.185
월계1동         26.477     29.835     27.224  ...     30.411     25.290     27.090
월계2동         30.744     33.626     34.689  ...     31.392     30.478     35.090
월계3동         26.980     29.704     30.132  ...     27.500     26.442     28.083
을지로동         23.406     28.200     26.869  ...     26.160     27.328     19.810
장충동          26.325     26.289     24.050  ...     24.637     21.316     22.620
중계1동         28.864     26.402     29.593  ...     28.800     28.304     29.085
중계2.3동       48.822     52.780     52.947  ...     60.031     49.132     44.104
중계4동         31.046     34.131     29.432  ...     34.226     37.375     28.324
중계본동         38.985     39.444     38.934  ...     40.033     38.532     40.145
중림동          37.336     39.000     37.524  ...     36.685     38.860     51.840
청구동          43.754     36.704     44.992  ...     41.860     36.960     38.645
필동           39.564     41.216     38.493  ...     37.576     27.501     23.732
하계1동         28.900     30.444     34.452  ...     28.137     26.796     27.456
하계2동         44.880     54.662     54.194  ...     56.265     51.570     48.822
황학동          32.190     35.640     32.184  ...     33.770     34.056     30.738
회현동          32.750     34.632     34.270  ...     31.808     23.166     23.718

[33 rows x 7 columns]

In [ ]:
# 식사 예측
y_eat

          2020-05-25  2020-05-26  ...  2020-05-30  2020-05-31
HDONG_NM                          ...
공릉1동       24.355309   25.147533  ...   22.969790   21.711922
공릉2동       29.257874   28.046276  ...   28.589067   27.547216
광희동        27.993385   29.509390  ...   20.101755   19.903646
다산동        31.351118   33.174072  ...   26.665220   20.703040
동화동        26.817936   27.502510  ...   23.800549   17.226267
명동         34.110710   34.169647  ...   14.634815   13.083359
상계10동      28.410032   27.554104  ...   28.641857   23.835712
상계1동       24.652107   24.652890  ...   24.653465   24.653172
상계2동       41.570545   42.979820  ...   39.306450   38.930668
상계3.4동     44.160560   44.161163  ...   44.161488   44.161655
상계5동       32.452164   34.323013  ...   32.690400   31.433758
상계6.7동     33.210860   33.268066  ...   34.226784   34.293552
상계9동       27.505442   28.221250  ...   28.212960   24.804464
소공동        37.878845   38.523262  ...   21.270610   20.997797
신당5동       25.331799   27.231142  ...   23.639183   23.969154
신당동        52.330765   60.179550  ...   46.906570   46.923332
약수동        39.634430   39.634377  ...   39.634346   39.634430
월계1동       27.549080   29.058142  ...   27.998075   27.001740
월계2동       31.828070   31.696295  ...   33.349540   34.177048
월계3동       28.999548   28.999405  ...   28.999374   28.999424
을지로동       26.332730   28.296600  ...   28.287098   21.003940
장충동        25.033318   24.524986  ...   21.477207   21.170685
중계1동       28.529764   28.359077  ...   28.244247   28.211160
중계2.3동     49.921110   52.217213  ...   51.199890   45.275845
중계4동       33.395985   34.150772  ...   32.752476   31.774902
중계본동       41.059483   41.082080  ...   40.999126   41.066690
중림동        37.686134   36.848007  ...   41.499200   49.970516
청구동        42.621820   38.206947  ...   35.091114   37.698753
필동         40.087580   38.720505  ...   25.128649   21.712383
하계1동       32.628830   32.231870  ...   29.798473   29.043268
하계2동       48.579735   48.830560  ...   50.010440   49.795630
황학동        33.050785   34.714985  ...   32.393574   30.267962
회현동        33.238533   34.452377  ...   21.394976   24.910835

[33 rows x 7 columns]

### 간식 ALL

In [ ]:
# 실제 간식 데이터
gs_snack.query(" '2020-05-25' <= STD_YMD <= '2020-05-31' ").set_index(['HDONG_NM','STD_YMD']).unstack().iloc[:,:7]

              GS_간식                        ...
STD_YMD  2020-05-25 2020-05-26 2020-05-27  ... 2020-05-29 2020-05-30 2020-05-31
HDONG_NM                                   ...
공릉1동         13.764     14.320     13.114  ...     15.498     16.632     13.838
공릉2동         20.271     19.936     17.978  ...     22.610     23.625     21.344
광희동          17.072     16.490     17.296  ...     18.711     17.304     12.696
다산동          22.155     23.664     24.308  ...     26.814     21.735     21.449
동화동          21.330     16.686     20.832  ...     21.582     21.082     17.024
명동           20.000     21.216     24.288  ...     26.220     14.328      9.894
상계10동        15.498     16.632     16.182  ...     20.488     19.695     15.204
상계1동         17.340     16.646     18.705  ...     20.116     21.939     19.600
상계2동         28.078     26.112     26.398  ...     30.955     34.226     29.751
상계3.4동       22.250     21.228     21.357  ...     29.016     27.375     25.830
상계5동         16.198     18.655     19.008  ...     19.646     20.488     19.000
상계6.7동       24.973     26.299     26.442  ...     35.178     40.588     32.640
상계9동         22.610     24.929     24.255  ...     23.460     26.325     19.488
소공동          23.142     26.196     30.000  ...     33.525     16.827     13.056
신당5동         21.870     24.380     24.900  ...     22.680     30.226     26.400
신당동          37.370     36.200     39.360  ...     35.526     32.412     23.736
약수동          41.595     33.264     35.505  ...     43.500     47.978     38.634
월계1동         15.372     14.964     16.808  ...     19.104     20.045     18.705
월계2동         19.412     19.847     16.638  ...     23.112     24.717     24.961
월계3동         22.568     20.488     26.196  ...     24.531     29.280     27.018
을지로동         18.518     16.576     19.548  ...     23.800     29.946     17.200
장충동          12.354     11.424     13.248  ...     17.706     15.836     14.656
중계1동         21.408     21.576     23.220  ...     27.022     30.134     27.612
중계2.3동       32.240     29.946     33.000  ...     41.768     37.350     33.495
중계4동         21.527     18.156     21.736  ...     23.200     22.464     26.196
중계본동         27.156     29.718     31.833  ...     37.083     39.767     33.417
중림동          22.927     18.096     21.000  ...     25.520     35.624     35.360
청구동          28.776     20.825     26.058  ...     39.000     34.540     30.719
필동           22.317     22.479     22.627  ...     26.187     17.679     13.348
하계1동         23.754     21.293     24.528  ...     29.213     27.864     23.192
하계2동         41.454     40.922     45.314  ...     44.919     54.000     49.416
황학동          22.890     22.533     19.760  ...     26.564     29.388     29.041
회현동          24.840     23.000     24.056  ...     24.108     14.931     12.320

[33 rows x 7 columns]

In [ ]:
# 간식 전주 동요일
gs_snack.query(" '2020-05-18' <= STD_YMD <= '2020-05-24' ").set_index(['HDONG_NM','STD_YMD']).unstack().iloc[:,:7]

              GS_간식                        ...
STD_YMD  2020-05-18 2020-05-19 2020-05-20  ... 2020-05-22 2020-05-23 2020-05-24
HDONG_NM                                   ...
공릉1동         15.566     13.505     14.504  ...     16.482     16.443     15.264
공릉2동         17.835     19.106     20.025  ...     21.669     21.483     23.280
광희동          14.220     16.200     16.289  ...     16.182     16.280     12.096
다산동          20.008     21.504     24.080  ...     21.582     29.375     21.620
동화동          17.460     21.021     13.944  ...     19.228     20.175     15.498
명동           17.653     20.944     23.140  ...     22.352     14.256      7.612
상계10동        16.082     17.658     17.181  ...     15.136     21.120     17.138
상계1동         15.996     17.640     19.694  ...     19.104     24.856     19.847
상계2동         24.660     27.664     28.006  ...     30.488     30.514     30.003
상계3.4동       20.240     23.328     20.996  ...     25.424     27.178     27.963
상계5동         17.460     17.370     18.810  ...     20.424     22.848     18.748
상계6.7동       22.472     27.713     28.202  ...     30.057     35.560     30.873
상계9동         19.900     21.112     27.392  ...     22.927     29.456     26.600
소공동          22.630     26.496     29.172  ...     28.860     18.778     11.041
신당5동         16.744     19.890     23.871  ...     25.038     30.804     26.182
신당동          32.480     35.898     36.091  ...     38.612     32.700     24.624
약수동          31.868     32.818     35.904  ...     39.615     46.324     41.595
월계1동         15.438     16.575     15.990  ...     17.949     18.900     20.296
월계2동         16.716     19.694     20.460  ...     21.600     23.422     27.390
월계3동         18.620     21.432     25.704  ...     26.290     30.771     29.193
을지로동         13.724     17.108     16.296  ...     22.454     30.988     14.560
장충동          12.975     13.731     13.172  ...     13.987     15.257     12.870
중계1동         21.208     20.382     26.058  ...     26.000     29.928     30.240
중계2.3동       30.178     29.580     34.821  ...     35.292     40.828     36.260
중계4동         15.652     18.321     23.712  ...     28.231     28.875     24.347
중계본동         26.105     24.738     28.854  ...     35.910     39.624     39.525
중림동          19.656     22.464     22.896  ...     24.725     35.670     40.960
청구동          24.235     24.552     29.896  ...     30.940     31.920     33.405
필동           19.404     19.376     21.411  ...     25.376     17.266     12.648
하계1동         18.900     20.124     23.200  ...     25.764     30.508     25.896
하계2동         31.960     45.753     41.870  ...     48.840     59.210     50.876
황학동          23.532     22.788     26.028  ...     25.740     31.992     28.449
회현동          19.519     22.932     21.620  ...     21.392     16.524     11.189

[33 rows x 7 columns]

In [ ]:
# 간식 예측
y_snack

          2020-05-25  2020-05-26  ...  2020-05-30  2020-05-31
HDONG_NM                          ...
공릉1동       14.385796   14.347269  ...   15.075735   14.428200
공릉2동       19.538818   19.316708  ...   22.593834   21.485987
광희동        15.296498   17.951267  ...   16.457720   13.849853
다산동        21.329980   24.443533  ...   23.371937   21.223137
동화동        20.468410   19.117304  ...   21.116013   17.077215
명동         19.502796   22.643803  ...   15.891593    9.690062
상계10동      15.210871   15.032204  ...   19.510120   17.375587
상계1동       16.885424   17.197033  ...   22.267382   19.561214
상계2동       26.958752   27.491234  ...   32.247807   29.723618
상계3.4동     23.085346   22.506516  ...   25.877224   26.932968
상계5동       17.525330   16.932133  ...   19.747698   19.728159
상계6.7동     24.435140   25.042374  ...   34.886047   31.513603
상계9동       22.338564   23.097382  ...   24.523737   23.314686
소공동        21.135010   27.556675  ...   17.977098   13.239515
신당5동       21.725567   22.916320  ...   27.794094   27.804926
신당동        33.818367   37.630400  ...   31.703938   26.245934
약수동        36.951538   34.553530  ...   43.824646   44.304474
월계1동       16.107649   15.965328  ...   19.820896   18.303396
월계2동       19.381958   18.676952  ...   24.985027   25.015442
월계3동       22.592857   21.408298  ...   27.488405   26.797642
을지로동       17.242990   18.937230  ...   30.713505   16.734920
장충동        13.959919   14.173790  ...   15.066745   15.093996
중계1동       21.494646   20.962708  ...   29.157043   26.874044
중계2.3동     30.323750   31.103977  ...   38.449030   35.622993
중계4동       21.111053   19.808304  ...   24.085377   23.890247
중계본동       26.317808   28.138945  ...   37.902030   34.973064
중림동        22.825695   21.361055  ...   36.106354   35.644325
청구동        27.406647   26.967993  ...   31.758682   31.702961
필동         21.168037   22.568161  ...   19.472076   13.939218
하계1동       22.748598   22.691334  ...   28.409304   25.176357
하계2동       41.555466   42.778980  ...   55.381042   46.689682
황학동        21.830118   22.471313  ...   30.199688   29.531384
회현동        21.338272   24.251278  ...   16.924782   13.171375

[33 rows x 7 columns]

In [ ]:
## 이후 엑셀로 코딩